
/* line 255, ../../app/assets/stylesheets/widgets/content-widget.scss */
.content-widget.board-item-form-widget .w-board-item-manager {
  padding: 10px;
  overflow: scroll;
}

/* line 262, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section {
  margin-bottom: 7px;
}
/* line 265, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section.open h3 {
  font-family: "Proxima Nova Bold", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size-adjust: 0.488;
  cursor: default;
}
/* line 268, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section.open h3:before {
  content: "\f0d7";
}
/* line 272, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section.open ul {
  display: block;
}
/* line 275, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section.open .new-board-button {
  display: block;
}
/* line 279, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section .section-title {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 14px;
  line-height: 1.4rem;
  /*$spacing: (($size * 10) - 14.0) / 10;
  @if $spacing > 0 {
      letter-spacing: -($spacing + 0.1) + px;
  }*/
  cursor: pointer;
  margin-bottom: 5px;
}
/* line 282, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section .section-title:before {
  font-family: 'FontAwesome';
  content: "\f0da";
  width: 15px;
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 14px;
  line-height: 1.4rem;
  /*$spacing: (($size * 10) - 14.0) / 10;
  @if $spacing > 0 {
      letter-spacing: -($spacing + 0.1) + px;
  }*/
}
/* line 291, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section ul {
  margin: 0 0 7px 15px;
  padding: 0;
  list-style: none;
  display: none;
}
/* line 297, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section li {
  margin: 0 0 5px 0;
  padding: 0;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #c9cacc;
}
/* line 307, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section li:before {
  font-family: 'FontAwesome';
  content: " ";
  width: 20px;
  display: inline-block;
}
/* line 314, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section li:hover:before {
  content: "\f00c";
  color: #daf9bd;
}
/* line 319, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section li.checked {
  color: #3d3f41;
}
/* line 321, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section li.checked:before {
  content: "\f00c";
  color: #59a80f;
}
/* line 326, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section li.checked:hover:before {
  color: #59a80f;
}
/* line 332, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .section li:last-child {
  margin-bottom: 0;
}
/* line 338, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .field.new-board-field {
  margin: 0 0 15px 15px;
  padding: 0;
}
/* line 341, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .field.new-board-field input {
  position: static;
  top: 0;
  border-radius: 5px 0 0 5px;
  width: 80%;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 14px;
  line-height: 1.4rem;
  /*$spacing: (($size * 10) - 14.0) / 10;
  @if $spacing > 0 {
      letter-spacing: -($spacing + 0.1) + px;
  }*/
  padding: 8px;
}
/* line 351, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .field.new-board-field button {
  border-radius: 0 5px 5px 0;
  height: 35px;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
/* line 359, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .new-board-button {
  margin: 0 0 10px 36px;
  color: #3e7fcf;
  cursor: pointer;
  display: none;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 14px;
  line-height: 1.4rem;
  /*$spacing: (($size * 10) - 14.0) / 10;
  @if $spacing > 0 {
      letter-spacing: -($spacing + 0.1) + px;
  }*/
}
/* line 365, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .new-board-button i {
  font-size: 10px;
  font-size: 1rem;
  line-height: 10px;
  line-height: 1rem;
  /*$spacing: (($size * 10) - 14.0) / 10;
  @if $spacing > 0 {
      letter-spacing: -($spacing + 0.1) + px;
  }*/
  margin-right: 2px !important;
}
/* line 369, ../../app/assets/stylesheets/widgets/content-widget.scss */
.w-board-item-manager .new-board-button:hover {
  text-decoration: underline;
}
