.board-item-form-widget {
    :hover {
        color:$darkgray;
    }
    padding-bottom:55px; // For the absolutely positioned bottom;
    .board-item-form-widget-header {
        background:#fafafa;
        border-bottom:1px solid #ddd;
        @include normal-font;
        @include font-size(1.8, 1.8);
        padding:10px;
        margin-bottom:0;
    }
    .w-board-item-manager {
        padding:10px;
        overflow:scroll;
    }
}


.content-widget {
    background: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.05);
    border-radius: 3px;
    margin-bottom: 20px;
}

.content-widget.board-item-form-widget .board-item-form-widget-header {
background: #fafafa;
border-bottom: 1px solid #ddd;
font-family: "Proxima Nova Regular", 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight: normal;
font-size-adjust: 0.488;
font-size: 18px;
font-size: 1.8rem;
line-height: 18px;
line-height: 1.8rem;
padding: 10px;
margin-bottom: 0;
}

.content-widget.board-item-form-widget .w-board-item-manager {
padding: 10px;
overflow: scroll;
}

body{
   width:500px;
   height:500px;
   }
   
   .w-board-item-manager .section {
margin-bottom: 7px;
}

.w-board-item-manager .section .section-title {
font-size: 14px;
font-size: 1.4rem;
line-height: 14px;
line-height: 1.4rem;
cursor: pointer;
margin-bottom: 5px;
}

.w-board-item-manager .section ul {
margin: 0 0 7px 15px;
padding: 0;
list-style: none;
display: none;
}

.w-board-item-manager .section.open ul {
display: block;
}

.w-board-item-manager .field.new-board-field {
margin: 0 0 15px 15px;
padding: 0;
}

.w-board-item-manager .field.new-board-field {
margin: 0 0 15px 15px;
padding: 0;
}


.field.new-board-field {
        margin:0 0 15px 15px;
        padding:0;
        input {
            position:static;
            top:0;
            border-radius:5px 0 0 5px;
            width:80%;
            display:inline-block;
            vertical-align:top;
            @include font-size(1.4, 1.4);
            padding:8px;
        }
        button {
            border-radius:0 5px 5px 0;
            height:35px;
            width:20%;
            display:inline-block;
            vertical-align:top;
        }
    }
.new-board-button {
    margin: 0 0 10px 36px;
    color:$blue;
    cursor:pointer;
    display:none;
    @include font-size(1.4, 1.4);
    i {
        @include font-size(1, 1);
        margin-right:2px !important;
    }
    &:hover {
        text-decoration:underline;
    }
}